#warp {
    margin: 0 auto;
    width: 800px;
    border: 1px solid #cccccc;
    padding: 10px;
}

hr {
    margin: 10px 0;
}

#wrap #title {
    text-align: center;
    height: 100px;
    line-height: 100px;
    text-decoration: underline;
    font-size: 2em;
}

#wrap #date p {
    text-align: center;
}
